In [36]:
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from transformers import pipeline
import requests
from PIL import Image
from transformers import BlipProcessor, BlipForConditionalGeneration
import torch as pt
import ollama

hf_token = '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'

In [21]:
data = pd.read_csv("data.csv")

data

                         Food              Serving Calories
0                   Artichoke  1 artichoke (128 g)   60 cal
1                     Arugula         1 leaf (2 g)    1 cal
2                   Asparagus       1 spear (12 g)    2 cal
3                   Aubergine  1 aubergine (458 g)  115 cal
4                    Beetroot        1 beet (82 g)   35 cal
..                        ...                  ...      ...
557  Wendy’s Jr. Cheeseburger     1 burger (129 g)  290 cal
558  Wendy’s Son of Baconator     1 burger (218 g)  700 cal
559                   Whopper     1 burger (291 g)  672 cal
560                    Zinger   1 sandwich (202 g)  517 cal
561             Zinger Burger   1 sandwich (202 g)  517 cal

[562 rows x 3 columns]

In [22]:
data['Calories'] = data['Calories'].str.replace(' cal', '').astype(int)

data['Calories']

0       60
1        1
2        2
3      115
4       35
      ...
557    290
558    700
559    672
560    517
561    517
Name: Calories, Length: 562, dtype: int64

In [23]:
data = data.sort_values(by = "Calories")

data

                                       Food                Serving  Calories
1                                   Arugula           1 leaf (2 g)         1
451                                 Acerola      1 acerola (4.8 g)         1
18                                   Chives  1 tbsp, chopped (3 g)         1
39                                Mushrooms     1 mushroom (5.4 g)         1
41                                     Nori        1 sheet (2.6 g)         1
..                                      ...                    ...       ...
554                            Veggie Patty     1 sandwich (247 g)       963
500  Burger King Double Whopper with Cheese     1 sandwich (399 g)       994
503              Burger King Triple Whopper       1 burger (547 g)      1471
299                                 Goulash      1 serving (187 g)      1887
132                         Chicken Marsala     1 serving (2301 g)      2209

[562 rows x 3 columns]

In [32]:
if "banana".lower() in [item.lower() for item in data["Food"]]:
    print("Banana")

Banana

In [25]:
pt.cuda.is_available()

True

In [26]:
pipe = pipeline(
    "image-to-text", 
    model="Salesforce/blip-image-captioning-large", 
    processor = BlipProcessor.from_pretrained("Salesforce/blip-image-captioning-large"),
    device="cuda"
    )

In [27]:
image_url = "https://media.post.rvohealth.io/wp-content/uploads/2020/09/papaya-benefits-732x549-thumbnail.jpg"

pipe(image_url)

d:\projects\dietai\venv\Lib\site-packages\transformers\generation\utils.py:1375: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

[{'generated_text': 'there is a half of a papana and a knife on a table'}]

In [41]:
response = ollama.chat(
    model='llama3.2-vision',
    messages=[{
        'role': 'user',
        'content': 'Tell me five names for an anciant egiptian man.',
        'device':'cuda',
        'temperature':0.5
    }]
)

print(response)

model='llama3.2-vision' created_at='2024-12-05T02:20:20.286479Z' done=True done_reason='stop' total_duration=14403869100 load_duration=19745400 prompt_eval_count=24 prompt_eval_duration=320000000 eval_count=255 eval_duration=14062000000 message=Message(role='assistant', content='Here are five potential names for an ancient Egyptian man:\n\n1. **Khnumhotep**: This name means "the earth is content" and was a common name in ancient Egypt.\n2. **Ani-Kem**: This name combines the elements "Ani", meaning "my people", with "Kem", a reference to the black soil of Upper Egypt, making it a fitting name for an Egyptian man.\n3. **Imhotep-Heru**: Imhotep was a legendary architect and physician in ancient Egyptian mythology, so incorporating his name into this one gives it a sense of authority and wisdom. Heru is also a common suffix meaning "son of" or "follower of".\n4. **Khonsu-Sobek**: This name combines two powerful gods: Khonsu, the moon god, with Sobek, the crocodile god. Giving your character these names would suggest he\'s a strong and versatile individual.\n5. **Pentu-Amun**: Pentu means "the one who is given life" and Amun was a major deity in ancient Egyptian worship. This name suggests that your character is a spiritual or sacred person.\n\nThese are just a few examples, but I hope they help inspire you to create an interesting character!', images=None, tool_calls=None)